:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #5268bf;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-contact: #3e53a7;

  /* Fonts */
  --font-roboto: "Roboto";
}

body {
  zoom: 0.8; /* Scales content to 80% */
}
